<div class="header-div">
    <div class="header-flex-item">
        <label class="control-label">Region selection</label>
        <p-dropdown [(ngModel)]="selectedRegion" (onChange)="onRegionChange($event)" [style]="{'width':'100%'}" [options]="regions" optionLabel="name" placeholder="Sort By Region" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
    </div>
    <div class="header-flex-item">
        <label class="control-label">Search Company</label>
        <span class="p-input-icon-right p-mb-2 p-mb-md-0">
            <i class="pi pi-search"></i>
            <input (input)="applyFilters()" [(ngModel)]="searchString" appAutofocus [style]="{'width':'100%'}" id="search-input" type="search" pInputText placeholder="Enter here">
        </span>
    </div>
    <div class="search-button-div">
        <button (click)="clearFilters()" pButton pRipple type="button" icon="pi pi-filter-slash" label="Clear" class="p-button-outlined p-button-secondary"></button>
    </div>
</div>

<p-table [value]="filteredCompanies" [scrollable]="true" scrollHeight="400px" [paginator]="false" [rows]="5" [responsive]="true" 
    [style]="{'margin-top':'20px', 'border':'2 px solid black'}">
    <ng-template pTemplate="header">
        <tr>
            <th>Name of company</th>
            <th>Region</th>
            <th>Sector</th>
            <th>Industry</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-company>
        <tr (click)="selectCompany(company)">
            <td>{{company.name}}</td>
            <td>{{company.region_id}}</td>
            <td>{{company.sector}}</td>
            <td>{{company.industry}}</td>
        </tr>
    </ng-template>
</p-table>